* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.patch text eol=lf -whitespace
*.hpp text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.c text eol=lf
*.txt text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.wav binary
*.png binary
*.jpg binary
*.exe binary
*.dll binary
*.gguf binary
