*
!/.gitignore
!/.gitattributes
!/main.py
!/cfg.py
!/panel.html
!/panel.js
!/audio-processor.js
!/assets/
!/assets/default-reference.wav
!/patches/
!/patches/*.patch
!/server/
!/server/CMakeLists.txt
!/server/include/
!/server/include/*.hpp
!/server/src/
!/server/src/*.cpp
